$color-white: #ffffff;
$color-black: #000000;
$bg-grey: #D0D0D0;
$bg-grey-fa: #F3F6FA;
$bg-grey-eb: #EBEBEB;
$bg-grey-c4: #C4C4C4;
$bg-grey-dd: #DDDDDD;
$bg-grey-7e: #7E7E7E;
$bg-grey-59: #595959;
$bg-orange: #EA661C;
$bg-blue: rgba(36, 158, 210, 0.5);

$rgba-blue: rgba(36, 158, 210, 0.5);
$transform-matrix: matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);


%flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

%flex-space {
	display: flex;
	justify-content: space-between;
}

%flex-wrap-space {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

$desktop-width: 1440px;
